// GRAPH VARIABLES ==========================>
$graph-screen-background-color: #2d3142;
$graph-background-color: #ffffff;
$graph-start-color: #25be2b;
$graph-end-color: #be2525;
$graph-wall-color: #2d3142;

// ARRAY VARIABLES ==========================>
$array-screen-background-color: #cdcdcd;
$array-block-color: #ef8354;
$array-bar-highlight-color: yellow;

// Buttons
$header-btn-background: #ffffff;
$header-btn-text-color: #ef8354;

// Header
$header-title-color: #ef8354;
