@import "../_global-imports";

.sortingScreen {
  position: relative;
  height: 100vh;
  width: auto;
  //   margin: 2rem;
  background-color: $graph-screen-background-color;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 5px;
  user-select: none;
}

.header {
  @include headerStyle();
}

.array {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  //   border: 1px solid black;
  transition: all 0.3s ease-out;
}

.array__bar {
  background-color: $array-block-color;
  width: 20px;
  margin: 0 1px;
}

.highlight {
  background-color: $array-bar-highlight-color;
}
